# Lap Prediction

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("../../outputs/week3/lap_prediction_data.csv")
data.head()

,Unnamed: 0,LapTime,Stint,SpeedI1,SpeedI2,SpeedFL,SpeedST,Position,FreshTyreAfterStop,PitNextLap,LapsSincePitStop,DRSUsed,TeamID,NextCompoundID,CompoundID,TyreAge,FuelLoad,DriverNumber
0,0,83.935,1.0,256.0,261.0,276.0,275.0,1.0,0,0,1.0,0,9,0,2,1.0,0.9848,1
1,1,80.402,1.0,252.0,257.0,276.0,295.0,1.0,0,0,2.0,0,9,0,2,2.0,0.9697,1
2,2,80.499,1.0,249.0,256.0,276.0,297.0,1.0,0,0,3.0,0,9,0,2,3.0,0.9545,1
3,3,80.346,1.0,255.0,256.0,276.0,300.0,1.0,0,0,4.0,0,9,0,2,4.0,0.9394,1
4,4,80.283,1.0,254.0,256.0,277.0,301.0,1.0,0,0,5.0,0,9,0,2,5.0,0.9242,1